@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    color:black;
    font-family:'Noto Sans JP', sans-serif;
    background: linear-gradient(90deg, rgb(163, 149, 241) 23%, rgb(255, 157, 251) 99%);
}
